
.navbar {
    z-index: 12000;
    background-color: #2aabd2;
    margin-bottom: 0 !important;  
}

.navbar-links {
    float:none;
    display: inline-block;
    font-size: 1.5em;
    color: #5d5d5d;
    padding-right: 0;
    margin-top: 5px;
}

nav li a.nav-link:hover{
    background: #1a9bc2;
    color: #d0d1df
}

nav li a.nav-link:focus{
    background: #1f9fca;
    color: #60615f
}

nav li a.nav-link{
    color: #50514f;
    transition-property: background, color;
    
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.nav-item {
    float : right !important;
}

.mobile-nav{
    padding: 0;
    font-size: 1.2em;
    line-height: 1;
}

.logo-title {
    font-family: 'Alef';
    font-weight: bold;
    font-size: 4em;
    z-index: 12001;
    line-height: 1.2;
}

.logo-title-mobile{
    font-size: 2.3em;
    padding-bottom: 0;
    padding-top: 5px;
    line-height: 1;
}

.center {
    text-align: center;
}

.page {
    font-size: 1.2em;
    position: absolute;
}

.page .section-content {
    background-color: white;
}

.section-header {
    margin: 0;
    padding: 10px;
    font-size: 2.5em;
}

.page-home .section-header{
    background-color: #40413f;
    color: #3d67d8;
    
}

.page-products .section-header{
    background-color: #50514f;
    color: #e8be4d;
    
}

.page-about .section-header{
    background-color: #50514f;
    color: #dc5278;
    
}

.page-contact .section-header{
    background-color: #50514f;
    color: #3dd8ae;
    
}


.page-home .section-content{
    color: #40413f;
    background-color: #3d67d8;
    
}

.page-products .section-content{
    color: #50514f;
    background-color: #e8be4d;
    
}

.page-about .section-content{
    color: #50514f;
    background-color: #dc5278;
    
}

.page-contact .section-content{
    color: #50514f;
    background-color: #3dd8ae;
    
}


/* Fade */
.hvr-fade {
  
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #1a9bc2;
  color: #c0c1cf;
}


li.mobile-item { 
    display: inline-block;
}