html         { overflow-y:hidden; }
.page.ng-leave 	{ z-index:-8888; }
.page.ng-enter 	{ z-index:8888; }



.page-home.ng-leave         {

    -webkit-animation:slideOutLeft 0.9s both ease;
	-moz-animation:slideOutLeft 0.9s both ease;
	animation:slideOutLeft 0.9s both ease;   
}
.page-home.ng-enter 		{
 
    -webkit-animation:slideInTop 0.9s both ease;
	-moz-animation:slideInTop 0.9s both ease;
	animation:slideInTop 0.9s both ease;    
}


.page-products.ng-leave         {

    -webkit-animation:slideOutLeft 0.9s both ease;
	-moz-animation:slideOutLeft 0.9s both ease;
	animation:slideOutLeft 0.9s both ease;   
}
.page-products.ng-enter 		{
  
    -webkit-animation:slideInTop 0.9s both ease;
	-moz-animation:slideInTop 0.9s both ease;
	animation:slideInTop 0.9s both ease;    
}


.page-about.ng-leave         {

    -webkit-animation:slideOutLeft 0.9s both ease;
	-moz-animation:slideOutLeft 0.9s both ease;
	animation:slideOutLeft 0.9s both ease;   
}
.page-about.ng-enter 		{
 
    -webkit-animation:slideInTop 0.9s both ease;
	-moz-animation:slideInTop 0.9s both ease;
	animation:slideInTop 0.9s both ease;    
}


.page-contact.ng-leave         {

    -webkit-animation:slideOutLeft 0.9s both ease;
	-moz-animation:slideOutLeft 0.9s both ease;
	animation:slideOutLeft 0.9s both ease;   
}
.page-contact.ng-enter 		{

    -webkit-animation:slideInTop 0.9s both ease;
	-moz-animation:slideInTop 0.9s both ease;
	animation:slideInTop 0.9s both ease;    
}




@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}



@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}


@keyframes slideInTop {
	from 	{ transform:translateY(-100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInTop {
	from 	{ -moz-transform:translateY(-100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInTop {
	from 	{ -webkit-transform:translateY(-100%); }
	to 		{ -webkit-transform: translateY(0); }
}
